.authBox {
  max-width: 500px;
  max-height: 300px;
  border: 0.2rem solid black;
  margin: 8px 8px;
  padding: 16px 16px;
  background-color: goldenrod;
}

.authBox__input {
  display: block;
  height: 35px;
  font-size: large;
  margin: 10px 0px;
  outline-style: none;
  padding-left: 15px;
  border-color: blue;
}

.authBox__submit {
  display: block;
  font-size: large;
  padding: 8px;
}
